<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.great.mapper.QuestionMapper">
	<select id="findAllQuestionBysId" resultType="org.great.bean.QuestionBean">
		select * from tb_question where sId = #{0}
	</select>
</mapper>